body{
    font-family: 'Roboto', sans-serif;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, blue, cyan);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
}
.color-text{
    color: blue;
}
h1{
    font-size: 40px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 7%;
    padding-top: 4%;
    
    
}
.half-width img{
    width: 80%;
}
.half-width p{
    text-align: justify;
}
.first-section{
    border: 2px solid white;
    height: 500px;
}
.second-section{
    height: 500px;
    /* border: 2px solid white; */
    /* margin-bottom: 20px; */
}
.third-section{
    height: 700px;
    
}
.single-part{
    width: 20%;
    box-shadow: 10px 10px 40px gray;
    
    /* padding-left: 80px; */
    border: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
    float: left;
    margin-left: 150px;
    margin-top: 120px;
}
.every-img{
    width: 60%;
    
}
.fourth-section img{
    width: 50%;
}
#image-center img{
    margin-left: auto;
    margin-right: auto;
    display: block;
}