body{
    font-family: 'Roboto', sans-serif;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, blue, cyan);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
}
.color-text{
    color: blue;
}
h1{
    font-size: 40px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 7%;
    padding-top: 4%;
    
    
}
.half-width img{
    width: 80%;
}
.half-width p{
    text-align: justify;
}
.first-section{
    border: 2px solid white;
    height: 500px;
}
.second-section{
    height: 500px;
    /* border: 2px solid white; */
    /* margin-bottom: 20px; */
}
.third-section{
    height: 500px;
    
}
.single-part{
    width: 20%;
    box-shadow: 10px 10px 40px gray;
    
    /* padding-left: 80px; */
    border: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
    float: left;
    margin-left: 150px;
    margin-top: 120px;
}
.every-img{
    width: 100%;
    
}
.fourth-section img{
    width: 50%;
    margin-bottom: 120px;
}
#image-center img{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.container {
    position: relative;
    text-align: center;
    color: white;
  }
  .work{
    position: absolute;
    bottom: 12%;
    left: 37%;

    
    
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    /* background-color: #2196F3; */
    color: white;
    font-size: 40px;
    font-weight: 700;
    /* padding: 12px 24px; */
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  .btn{
    position: absolute;
    top: 70%;
    left: 60%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #2196F3;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center; 
  }
  .btn:hover {
    background-color: red;
  }
  .faq-section{
      height: 400px;
      margin-left: 7%;
  }
  .list{
      text-decoration: none;
      font-weight: 600;

  }
  .faq-section h2{
      font-weight: 700;
      color: tomato;
  }
  .faq-section h3{
      color: orange;
  }
  .faq-section p{
      color: black;
      font-size: bold;
  }
  .footer-section{
      /* border: 2px solid red; */
  }
  .footer-img{
      width: 3%;
  }
.footer-section h3{
    text-align: center;
    font-weight: bold;
}
.footer-section h2{
    text-align: center;
}
.footer-images img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}